<Macro VHostProxyMailhog>
    RewriteEngine on
    RewriteRule ^/mailhog$ /mailhog/ [R,L]
    <LocationMatch "^/mailhog">
        RequestHeader unset Accept-Encoding
        AddOutputFilterByType SUBSTITUTE text/html
        Substitute "s|<meta charset=\"utf-8\">|<meta charset=\"utf-8\"><base href=\"/mailhog/\">|ni"
    </LocationMatch>
    ProxyPassMatch   "^/mailhog/api/v2/websocket(.*)" "ws://localhost:8025/api/v2/websocket$1"
    ProxyPassReverse "^/mailhog/api/v2/websocket(.*)" "ws://localhost:8025/api/v2/websocket$1"
    ProxyPassMatch   "^/mailhog/(.*)" "http://localhost:8025/$1"
    ProxyPassReverse "^/mailhog/(.*)" "http://localhost:8025/$1"
</Macro>

<Macro VHostCommon>
    DocumentRoot "[APACHE_ROOT]"
    ServerName [VAGRANT_HOST]
    <Directory "[APACHE_ROOT]">
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>
    ErrorLog "${APACHE_LOG_DIR}/error.log"
    CustomLog "${APACHE_LOG_DIR}/access.log" common
</Macro>

<VirtualHost *:80>
    Use VHostProxyMailhog
    Use VHostCommon
</VirtualHost>

<IfModule mod_ssl.c>
    <VirtualHost *:443>
        Use VHostProxyMailhog
        Use VHostCommon

        SSLEngine on
        SSLCertificateFile /etc/ssl/certs/ssl-cert-snakeoil.pem
        SSLCertificateKeyFile /etc/ssl/private/ssl-cert-snakeoil.key
    </VirtualHost>
</IfModule>

UndefMacro VHostProxyMailhog
UndefMacro VHostCommon
