[Unit]
Description=MailHog Email Catcher
After=syslog.target network.target

[Service]
Type=simple
ExecStart=[MAILHOG_BINARY]
StandardOutput=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target
